@import url('https://fonts.googleapis.com/css?family=Nunito:wght@200;300;400;600;700&display=swap');


img{
    height: 250px;
    width: 150px;
}
*{
    font-family:'Nunito',sans-serif ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}


section{

    padding: 2rem 9%;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    z-index: 2;
     background-color: black;

}

.header .logo img{
    height: 4vh;
    width: 7vw;
    padding-right: -2cqw;
}


 .header .navbar #close{
    display: none;
} 

.header .navbar a{
    font-size: 1.5rem;
    margin-right: 2rem;
    color:aliceblue;
}

.header .navbar a:hover{
    color: #d3ad7f;

}

.header #menu{
    display: none;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 20, 20);
    font-size: large;
}

.home .content{
    flex: 1 1 40rem;
}
.home .content .title{
    font-size: 50px; 
    color: #fff;
    text-transform: uppercase;

}
.home .content .title span{
    text-transform: uppercase;
    color: #d3ad7f;
}
.home .content .description{
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;

}
.home .content .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .7em 2rem;
    font-size: 1.2rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
    border-radius: 4px;

}

.home .content .btn:hover{
    letter-spacing: .2rem;
}


.home .image{
    flex: -1 1 40rem;
}
.home .image img{
    width: 421px;
    height: 373px;
    padding-right: 21px;
    padding-left: 15px;

}




